In [104]:
# main script to run for analysis
import collections
import csv
import pandas as pd

In [105]:
#files with data for analysis
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [106]:
# Read School and Student Data File and store into Pandas DataFrames
schools = pd.read_csv(school_data)
students = pd.read_csv(student_data)

#print(schools)
#print(students)

In [107]:
# Combine the data into a single dataset.  
All_school = pd.merge(schools, students, how="left", on=["school_name", "school_name"])
All_school

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

# Create a high level snapshot (in table form) of the district's key metrics, including
# Calculate the total number of schools
tot_schools = len(set(schools["school_name"]))
#print(tot_schools)
# Calculate the total number of students
tot_Students = len(set(students["Student ID"]))
#print(tot_Students)
# Calculate the total budget
num_format = "{:,}".format
1tot_budget = 1num_format(sum(schools["budget"])) # {:,}".format(100000) = 100,000
print(tot_budget)
# Calculate the average math score
average_math_score = round(students["math_score"].mean(),2) 
print(average_math_score)
# Calculate the average reading score
#average_reading_score = round(students["reading_score"].mean(),2)
average_reading_score = round(students["reading_score"].mean(),2)
print(average_reading_score)
#Calculate the percentage of students with a passing math score (70 or greater)
stu70G = students[students["math_score"] > 70] 
Stu_math_70G = stu70G['Student ID'].count() # all students passing math 70 or greater 
#Stu_math_70G_Per = "{:.3%}".format((Stu_math_70G/tot_Students)) # % students passing math 70 or greater (error operate str)
Stu_math_70G_Per = round((Stu_math_70G/tot_Students)*100,2) 
print(Stu_math_70G)
print(Stu_math_70G_Per)
#Calculate the percentage of students with a passing reading score (70 or greater)
Stu_read_70G = students[students["reading_score"]>70]
Stu_reading_70G = Stu_read_70G["Student ID"].count()
#Stu_reading_70G_per = "{:.3%}".format((Stu_reading_70G/tot_Students))# % students passing read 70 or greater (error operate str)
Stu_reading_70G_per = round((Stu_reading_70G/tot_Students)*100,2)
print(Stu_reading_70G_per)
#Calculate the percentage of students who passed math and reading (% Overall Passing)
Overall_Passing = (Stu_math_70G_Per + Stu_reading_70G_per)/2
print(Overall_Passing)

In [108]:
#Create a dataframe to hold the above results

dataframe_results = pd.DataFrame({"Total Schools":[tot_schools], "Total Students":[total_Students],
                                 "Total Budget":[tot_budget], "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score], "% Passing Math":[Stu_math_70G_Per],
                                 "% Passing Reading":[Stu_reading_70G_per], "% Overall Passing":[Overall_Passing]})
dataframe_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,72.39,82.97,77.68