In [6]:
# main script to run for analysis
import collections
import csv
import pandas as pd

In [7]:
#files with data for analysis
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [8]:
# Read School and Student Data File and store into Pandas DataFrames
schools = pd.read_csv(school_data)
students = pd.read_csv(student_data)

#print(schools)
#print(students)

In [9]:
# Combine the data into a single dataset.  
All_school = pd.merge(schools, students, how="left", on=["school_name", "school_name"])
All_school

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [61]:
# Create a high level snapshot (in table form) of the district's key metrics, including
# Calculate the total number of schools
All_schools = set(schools["school_name"]) # unique school
tot_schools = len(All_schools) # number of school
# Calculate the total number of students
tot_Students = len(set(students["Student ID"]))
#print(tot_Students)
# Calculate the total budget
tot_budget = "${:,.0f}".format(sum(schools["budget"]))  # {:,}".format(100000) = 100,000
print(tot_budget)
# Calculate the average math score
average_math_score = "{:,.2f}".format(students["math_score"].mean())
print(average_math_score)
# Calculate the average reading score
#average_reading_score = round(students["reading_score"].mean(),2)
average_reading_score = "{:,.2f}".format(students["reading_score"].mean())
print(average_reading_score)
#Calculate the percentage of students with a passing math score (70 or greater)
stu70G = students[students["math_score"] >= 70] 
Stu_math_70G = stu70G['Student ID'].count() # all students passing math 70 or greater 
print(Stu_math_70G)
#Stu_math_70G_Per = "{:.3%}".format((Stu_math_70G/tot_Students)) # % students passing math 70 or greater (error operate str)
Stu_math_70G_Per = (Stu_math_70G/tot_Students) # remains to be expressed as a percentage
print("{:.4%}".format(Stu_math_70G_Per))
#Calculate the percentage of students with a passing reading score (70 or greater)
Stu_read_70G = students[students["reading_score"]>=70] # reading score (70 or greater)
Stu_reading_70G = Stu_read_70G["Student ID"].count() # number of student reading score (70 or greater)
#Stu_reading_70G_per = "{:.3%}".format((Stu_reading_70G/tot_Students))# % students passing read 70 or greater (error operate str)
Stu_reading_70G_per = (Stu_reading_70G/tot_Students) # remains to be expressed as a percentage
print("{:.4%}".format(Stu_reading_70G_per))
#Calculate the percentage of students who passed math and reading (% Overall Passing)
Overall_Passing = (Stu_math_70G_Per + Stu_reading_70G_per)/2
print("{:.4%}".format(Overall_Passing))

$24,649,428
78.99
81.88
29370
74.9809%
85.8055%
80.3932%

In [62]:
#Create a dataframe to hold the above results

dataframe_results = pd.DataFrame({"Total Schools":[tot_schools], "Total Students":["{:,.0f}".format(tot_Students)],
                                 "Total Budget":[tot_budget], "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score],
                                  "% Passing Math":["{:.4%}".format(Stu_math_70G_Per)],
                                 "% Passing Reading":["{:.4%}".format(Stu_reading_70G_per)], 
                                  "% Overall Passing":["{:.4%}".format(Overall_Passing)]})
dataframe_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.9809%,85.8055%,80.3932%

In [53]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# All_schools #School_Name=schools["school_name"]

# % Overall Passing (The percentage of students that passed math **and** reading.)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [65]:
# School Type
School_Type = schools.set_index(["school_name"])["type"]  # set school name + school type
#print(School_Type)
# Total Students
School_Total_Students = All_school["school_name"].value_counts()
#print(School_Total_Students)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [72]:
# Total School Budget
# Using GroupBy in order to separate the data into fields according to "School" values
Group_School_Budget = schools.groupby(['school_name'])
Total_School_Budget = Group_School_Budget['budget'].sum()
print(Total_School_Budget)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [73]:
# Per Student Budget 
Per_Student_Budget = Total_School_Budget/School_Total_Students
print(Per_Student_Budget)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [75]:
# Average Math Score
# Using GroupBy in order to separate the data into fields according to "school_name" values math_score
Average_Math_Score = All_school.groupby(["school_name"]).mean()["math_score"]
print(Average_Math_Score)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [83]:
# Average Reading Score
Average_Reading_Score = All_school.groupby(["school_name"]).mean()["reading_score"]

print(Average_Reading_Score)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [87]:
# % Passing Math (The percentage of students that passed math.)
Passing_Math = All_school[(All_school["math_score"]>=70)]
passing_math_x_school = Passing_Math.groupby(["school_name"]).count()["Student ID"]
percentage_Passing_Math_x_School = passing_math_x_school/School_Total_Students  # remains to be expressed as a percentage
print(percentage_Passing_Math_x_School)

Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [88]:
# % Passing Reading (The percentage of students that passed reading.)
Passing_Reading = All_school[(All_school["reading_score"]>=70)]
passing_Reading_x_school = Passing_Reading.groupby(["school_name"]).count()["Student ID"]
percentage_Passing_Reading_x_School = passing_Reading_x_school/School_Total_Students
print(passing_Reading_x_school)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64